[submodule "nuxt"]
	path = nuxt
	url = https://github.com/Alexandr2901/nuxt.git
	branch = main
[submodule "lumen_auth"]
	path = lumen_auth
	url = https://github.com/Alexandr2901/lumen_auth.git
	branch = main
[submodule "lumen_main"]
	path = lumen_main
	url = https://github.com/Alexandr2901/lumen_main.git
	branch = main
# 	6
